/*------------------------------Carousel------------------------------*/
.carousel {
    overflow: hidden;
}

.track {
    display: flex;
    width: max-content;
    animation: spin 30s linear infinite;
}

.group{
    display: flex;
    gap: 80px;
}

.image_carousel {
    margin-right: 1em;
    flex-shrink: 0;
    max-height: 400px;
    max-width: 15%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
}

@keyframes spin {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}