:root {
    --font-family-lato: "Lato", Helvetica, Arial, Roboto, "Open Sans";
    --font-family-marcellus: "Marcellus", Helvetica, Arial, Roboto;
}

/*@font-face {*/
/*    font-family: 'Marcellus';*/
/*    src: url("fonts/Marcellus/Marcellus-Regular.ttf") format("truetype");*/
/*}*/

@font-face {
    src: url('../fonts/Marcellus/Marcellus-Regular.ttf') format('TrueType');
    font-family: 'Marcellus';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url('../fonts/Lato/Lato-Bold.ttf') format('TrueType');
    font-family: 'Lato';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    src: url('../fonts/Lato/Lato-BoldItalic.ttf') format('TrueType');
    font-family: 'Lato';
    font-display: swap;
    font-style: italic;
    font-weight: 700;
}

@font-face {
    src: url('../fonts/Lato/Lato-Regular.ttf') format('TrueType');
    font-family: 'Lato';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}
