@media screen and (min-width: 1024px) {
    body {
        font-family: var(--font-family-lato), sans-serif;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*-------------Boutton-------------*/
    .buttons {
        font-family: var(--font-family-marcellus), sans-serif;
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 1.875rem;
        border: 1px solid var(--button-color);
        background-color: #fff;
        font-size: 1rem;
        color: var(--color-black);
        max-width: fit-content;
        margin: 0 0 1.5rem 3rem;
        transition: all 0.2s ease;
        cursor: pointer;
        text-decoration: none;
    }

    /*-------------En tête-------------*/
    .header__image {
        max-width: 100%;
        height: auto;
    }

    .svg-entete {
        position: absolute;
        inset: 0;
        z-index: 2;
    }

    .deux-div {
        position: relative;
        height: 100%;
    }

    .order1 {
        margin: 10px 26px 0;
    }

    /*-------------en tête button lien-------------*/
    section.links {
        margin: 1.5em 1.5em 4.125em;
        filter: drop-shadow(0em 1.875em 2.5em rgba(217, 217, 217, 0.25));
        position: absolute;
        bottom: -9rem;
        z-index: 2;
        display: flex;
    }

    .q {
        display: flex;
        justify-content: center;
    }

    div.q > img {
        padding-bottom: 16px;
    }

    main {
        padding-top: 300px;
    }

    h3.link-1, h3.link-2 {
        font-family: var(--font-family-lato), sans-serif;
        font-weight: 700;
        font-size: 0.6875em;
        line-height: 1em;
        color: var(--color-black);
        padding-bottom: 0.25em;
    }

    img.link-1, img.link-2 {
        background-color: #d9d9d9;
        width: 3.75em;
        height: 3.75em;
        border-radius: 1.875em;
        margin: 0.5em 0 1.125em 0.75em;
    }

    div.link-1, div.link-2 {
        display: flex;
    }

    p.link-1, p.link-2 {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.1875em;
        line-height: 1.25em;
        color: #DC9D23;
    }

    .link-1 {
        background-color: #ffffff;
        border-radius: 16px 16px 0 0;
    }

    .link-2 {
        background-color: #ffffff;
    }

    .link-3 {
        background-color: #262626;
        border-radius: 0 0 16px 16px;
    }

    h3.link-3 {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 24px;
        line-height: 32px;
        color: var(--h2-color-style);
        padding: 15px 76px 0 76px;
    }

    p.link-3 {
        font-family: var(--font-family-lato), sans-serif;
        font-weight: 700;
        line-height: 23px;
        font-size: 17px;
        color: var(--white-color-style);
        text-align: center;
    }

    div.link-3 {
        padding: 0;
    }

    /*------------- Main -------------*/
    /*-------------Titre -------------*/
    .section__title {
        max-width: 70%;
        margin: 0 auto 12.5rem auto;
        padding: 2.188rem;
        border: 1px #d9d9d9 solid;
        border-radius: 1.5rem;
    }

    .section__title-title {
        font-family: var(--font-family-marcellus), sans-serif;
        color: var(--h2-color-style);
        font-size: 3.188rem;
        line-height: 3.563rem;
        text-align: center;
    }

    .section__title-p {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.563rem;
        line-height: 1.875em;
        padding-top: 1rem;
        text-align: center;
    }

    /*------------- Ce qu’il aime faire de son temps libre ? et Depuis combien de temps es ce que je le connais ? -------------*/

    .presentation__container {
        display: flex;
        flex-direction: row-reverse;
        padding: 0.5rem 0.5rem 0 0.5rem;
        border-radius: 1.5rem;
        border: 1px #d9d9d9 solid;
        max-width: 80%;
        margin: 0 auto 3.313rem auto;
    }

    .presentation__title, .someWords__section__title {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 2.5rem;
        line-height: 2.725rem;
        padding: 4.625rem 0 1.375rem 3.125rem;
    }

    .presentation__text {
        font-family: var(--font-family-lato), sans-serif;
        font-size: 1.125rem;
        line-height: 1.744rem;
        padding: 0 5.625rem 1.25rem 3.125rem;
    }

    .presentation__image {
        border-radius: 1.25rem;
        aspect-ratio: 1/1;
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    /*-------------div carousel-------------*/
    .section__carousel {
        padding: 0.5rem 0.5rem 0 0.5rem;
        max-width: 80%;
        margin: 0 auto 3.313rem auto;
        border: 0.0625rem solid #d9d9d9;
        border-radius: 1.5rem;
    }

    /*-------------div carousel ma version-------------*/
    .section__carousel__maVersion {
        padding: 0.5rem 0.5rem 0 0.5rem;
        max-width: 80%;
        margin: 0 auto 3.313rem auto;
        border: 0.0625rem solid #d9d9d9;
        border-radius: 1.5rem;
    }


    /*------------- Comment tout à commencer et ce qu’il ma apporter dans la vie ? -------------*/
    .presentation__content {
        margin: 0 10.813rem 9.563rem;
    }

    /*------------- En quelque mots -------------*/
   .someWords__section__title{
       text-align: center;
       padding-bottom: 2.188rem;
   }

    .someWords__grid {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .someWords__grid__item {
        display: contents;
    }

    .someWords__item__title {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: -0.70px;
        color: var(--h2-color-style);
        padding: 0 1.438rem 0.688rem 1.438rem;
    }

    .someWords__item__text {
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        padding: 0 14px 24px 14px;
        margin: 0 10px 10px 10px;
    }

    .someWords__item__border{
        border-right: 3px solid var(--grey-color-D9);
    }

    /* --------------------------- Quelque photos --------------------------- */
    .gallery {
        max-width: 75rem;
        margin: 0 auto;
    }

    .gallery__title {
        text-align: center;
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 2.5rem;
        line-height: 2.725rem;
        padding: 4.625rem 0 2.375rem 3.125rem;
    }

    .gallery__items {
        display: flex;
        gap: 2rem;
        padding: 1rem 5.625rem;
    }

    .gallery__item {
        flex: 1;
    }

    .gallery__image {
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }

    /* --------------------------- Footer --------------------------- */
    footer {
        background-color: #f2f2f2;
    }

    .profile {
        display: flex;
        justify-content: center;
    }

    .profile__content {
        padding: 0 3.875rem;
        margin: 10.375rem 0 3.75rem 0;
    }

    .profile__title {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.563rem;
        line-height: 1.875rem;
    }

    .profile__item {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
    /* --------------------------- en quelque mots --------------------------- */
    .about__section {
        display: flex;
        justify-content: center;
        gap: 5.5rem;
        border: 1px solid var(--grey-color-D9);
        padding: 2.875rem 0;
    }

    .about__section__grid {
        display: flex;
        font-size: 18px;
        line-height: 21px;
        color: #333333;
        text-decoration: none;
        pointer-events: none;
        gap: 5.5rem;

    }

    .about__section__label {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 0.625rem;
        line-height: 1rem;
    }

    .about__section__text {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.563rem;
        line-height: 1.938rem;
    }

    /* --------------------------- contact et information --------------------------- */
    .informationAndApplication {
        display: flex;
        justify-content: center;
        column-gap: 6.25rem;
        padding: 4.313rem 0;
    }

    .information__group {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 1.438rem;
    }

    .information__group--email, .information__group--address {
        padding-top: 0;
    }

    .information__item, .information__link {
        font-family: var(--font-family-marcellus), sans-serif;
        color: var(--grey-color-80);
        text-decoration: none;
    }

    /* --------------------------- social media --------------------------- */
    .social, .application {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social__title, .application__title, .information__title {
        font-family: var(--font-family-marcellus), sans-serif;
        line-height: 1.938rem;
        font-size: 1.625rem;
        padding-bottom: 1.5rem;
        text-align: center;
    }

    .social__items, .application__items {
        display: flex;
    }

    .social__item__image, .application__image {
        padding: 0 0.5rem 2.5rem;
    }

    /* --------------------------- copyright --------------------------- */
    .copyright {
        padding-bottom: 4.125rem;
        border-top: solid 1px var(--grey-color-D9);

    }

    .copyright__elements {
        display: flex;
        justify-content: center;
    }

    .copyright__element {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 0.813rem;
        line-height: 1.313rem;
        padding: 2.938rem 1rem 0 0;
        color: var(--grey-color-80);

    }

    .copyright__author {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.375rem;
        color: var(--grey-color-80);
        text-align: center;
        padding: 1.5rem 0 2.938rem 0;
        border-bottom: solid 1px var(--grey-color-D9);
    }
}
