@media screen and (min-width: 1024px) {
    body {
        font-family: var(--font-family-lato), sans-serif;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        padding: 0 6rem;
        gap: 1rem 5rem;
        z-index: 1;
    }

    .header__nav {
        justify-self: start;
    }

    .header__nav__list {
        display: flex;
    }

    .header__nav__item {
        min-width: 7rem;
    }

    .header__nav__item__link {
        font-family: var(--font-family-lato), sans-serif;
        line-height: 1.65;
        list-style-type: none;
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--white-color-style);
    }

    .header__nav__item__link:hover {
        color: var(--h2-color-style);
    }

    .header__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .header__logo__pic {
        height: 100%;
        max-width: 100%;
        display: block;
        flex-shrink: 0;
    }

    .header__logo__pairi {
        display: flex;
        align-items: center;
        color: var(--white-color-style);
    }

    .header__logo__pairi:first-child {
        justify-content: flex-end;
    }

    .header__logo__pairi:last-child {
        justify-content: flex-start;
    }

    .header__triggers {
        display: flex;
        justify-self: end;
        gap: 1rem;
    }

    .header__image__contenant {
        position: relative;
        background-color: var(--color-black);
    }

    .header__image {
        max-width: 100%;
        width: 100%;
        height: 80vh;
        opacity: 70%;
        object-fit: cover;
    }

    /*-------------Boutton-------------*/
    .buttons {
        font-family: var(--font-family-marcellus), sans-serif;
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 1.875rem;
        border: 1px solid var(--button-color);
        background-color: #fff;
        font-size: 1rem;
        color: var(--color-black);
        max-width: fit-content;
        margin: 0 0 1.5rem 3rem;
        transition: all 0.2s ease;
        cursor: pointer;
        text-decoration: none;
    }

    .buttons:hover {
        color: var(--h2-color-style);
        box-shadow: 0 10px 20px #3333331a;
    }

    .svg-entete {
        position: absolute;
        inset: 0;
        z-index: 2;
    }

    .header__actions {
        position: relative;
        height: 100%;
    }

    /*------------- Barre de navigation -------------*/
    .navigation-barre {
        display: flex;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: clamp(300px, 95vw, 1200px);
        box-shadow: 0 30px 30px rgba(153, 153, 153, 0.25);
        transition: width 0.3s ease, left 0.3s ease, transform 0.3s ease;
        border-radius: 1rem;
    }

    .navigation-barre-sticky {
        bottom: 2rem;
        position: relative;
        z-index: 100;
        transition: bottom 0.3s ease, box-shadow 0.3s ease;
    }

    .navigation-barre__item {
        display: flex;
        align-items: center;
        background-color: var(--white-color-style);
        padding: 1rem 1.813rem 2rem 1.438rem;
        flex: 2;
        transition: padding 0.3s ease;
    }

    .navigation-barre__item--last {
        flex: 1;
        background-color: var(--color-black);
        color: var(--white-color-style);
        flex-direction: column;
    }

    .navigation-barre__item:first-of-type {
        border-radius: 1rem 0 0 1rem;
    }

    .navigation-barre__item:last-child {
        border-radius: 0 1rem 1rem 0;
    }

    .navigation-barre__image {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
        transition: width 0.3s ease, height 0.3s ease;
    }

    .navigation-barre__title {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 0.75rem;
        line-height: 1rem;
        margin: 0;
        padding: 0 0 0.5rem 3.125rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    .navigation-barre__text {
        font-family: var(--font-family-lato), sans-serif;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.4;
        margin: 0.25rem 0;
        text-align: center;
    }

    .navigation-barre__link {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.5rem;
        color: var(--h2-color-style);
        text-decoration: none;
        padding-left: 3.125rem;
    }

    .last {
        padding-left: 0;
    }

    .navigation-barre-sticky.is-fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 -30px 30px rgba(153, 153, 153, 0.25);
    }
    .is-fixed .navigation-barre {
        width: 100%;
        left: 0;
        transform: none;
    }
    .is-fixed .navigation-barre__item {
        display: flex;
        align-items: center;
        background-color: var(--white-color-style);
        padding: 1rem 1.813rem 1rem 1.438rem;
        flex: 1;
    }

    .is-fixed .navigation-barre__item--last {
        background-color: var(--color-black);
        color: var(--white-color-style);
        flex-direction: column;
    }

    .is-fixed .navigation-barre__image {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
    }
    .is-fixed .navigation-barre__item:last-child {
        border-radius: 0;
    }

    /*------------- Main -------------*/
    /*-------------Titre -------------*/
    .section__title {
        max-width: 55%;
        margin: 12rem auto 10rem;
        padding: 2.5rem;
        border: 1px #d9d9d9 solid;
        border-radius: 1.5rem;
    }

    .section__title-title {
        font-family: var(--font-family-marcellus), sans-serif;
        color: var(--h2-color-style);
        font-size: 3.188rem;
        line-height: 3.563rem;
        text-align: center;
    }

    .section__title-p {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.563rem;
        line-height: 1.875em;
        text-align: center;
    }

    /*------------- Ce qu’il aime faire de son temps libre ? et Depuis combien de temps es ce que je le connais ? -------------*/
    .presentation__container {
        display: flex;
        padding: 0.5rem;
        border-radius: 1.5rem;
        border: 1px #d9d9d9 solid;
        max-width: 65%;
        margin: 0 auto 5rem auto;
    }
    .presentation:nth-of-type(odd) .presentation__container {
        flex-direction: row-reverse;
    }
    .presentation__container > div {
        width: 50%;
    }

    .presentation__container > div:has(.presentation__image) {
        display: flex;
    }
    .presentation__title, .someWords__section__title {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 2rem;
        line-height: 2.5rem;
        padding: 2.5rem 2.5rem 1.5rem 2.5rem;
    }
    .presentation__title-solo{
        font-family: var(--font-family-marcellus), sans-serif;
        line-height: 3.5rem;
        padding: 2.5rem 2.5rem 1.5rem 2.5rem;
        font-size: 3rem;
    }

    .presentation__text {
        font-family: var(--font-family-lato), sans-serif;
        font-size: 1.125rem;
        line-height: 1.744rem;
        padding: 0 2.5rem 1.5rem;
    }
    .presentation__text-solo {
        font-family: var(--font-family-lato), sans-serif;
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: 300;
        padding: 0 2.5rem 1.5rem;
    }

    .presentation__image {
        border-radius: 1.25rem;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /*-------------div carousel-------------*/
    .section__carousel {
        padding: 0.5rem 0.5rem 0 0.5rem;
        max-width: 65%;
        margin: 0 auto 3.313rem auto;
        border: 0.0625rem solid #d9d9d9;
        border-radius: 1.5rem;
    }

    /*-------------div carousel ma version-------------*/
    .section__carousel__maVersion {
        padding: 0.5rem 0.5rem 0 0.5rem;
        max-width: 65%;
        margin: 0 auto 3.313rem auto;
        border: 0.0625rem solid #d9d9d9;
        border-radius: 1.5rem;
    }


    /*------------- Comment tout à commencer et ce qu’il ma apporter dans la vie ? -------------*/
    .presentation__content {
        margin: 0 22rem 1.5rem;
    }

    /*------------- En quelque mots -------------*/
    .someWords__section__title {
        text-align: center;
        padding-bottom: 2.188rem;
    }

    .someWords__grid {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .someWords__grid__item {
        display: contents;
    }

    .someWords__item__title {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: -0.70px;
        color: var(--h2-color-style);
        padding: 0 1.438rem 0.688rem 1.438rem;
    }

    .someWords__item__text {
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        padding: 0 14px 24px 14px;
        margin: 0 10px 10px 10px;
    }

    .someWords__item__border {
        border-right: 3px solid var(--grey-color-D9);
    }

    /* --------------------------- Quelque photos --------------------------- */
    .gallery {
        max-width: 75rem;
        margin: 0 auto;
    }

    .gallery__title {
        text-align: center;
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 2.5rem;
        line-height: 2.725rem;
        padding: 4.625rem 0 2.375rem 3.125rem;
    }

    .gallery__items {
        display: flex;
        gap: 2rem;
        padding: 1rem 5.625rem;
    }

    .gallery__item {
        flex: 1;
    }

    .gallery__image {
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }

    /* --------------------------- Footer --------------------------- */
    footer {
        background-color: #f2f2f2;
    }

    .profile {
        display: flex;
        justify-content: center;
    }

    .profile__content {
        padding: 0 3.875rem;
        margin: 10.375rem 0 3.75rem 0;
    }

    .profile__title {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.563rem;
        line-height: 1.875rem;
    }

    .profile__item {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 0.75rem;
        line-height: 1.25rem;
    }

    /* --------------------------- en quelque mots --------------------------- */
    .about__section {
        display: flex;
        justify-content: center;
        gap: 5.5rem;
        border: 1px solid var(--grey-color-D9);
        padding: 2.875rem 0;
    }

    .about__section__grid {
        display: flex;
        font-size: 18px;
        line-height: 21px;
        color: #333333;
        text-decoration: none;
        pointer-events: none;
        gap: 5.5rem;

    }

    .about__section__label {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 0.625rem;
        line-height: 1rem;
    }

    .about__section__text {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.563rem;
        line-height: 1.938rem;
    }

    /* --------------------------- contact et information --------------------------- */
    .informationAndApplication {
        display: flex;
        justify-content: center;
        column-gap: 6.25rem;
        padding: 4.313rem 0;
    }

    .information__group {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 1.438rem;
    }

    .information__group--email, .information__group--address {
        padding-top: 0;
    }

    .information__item, .information__link {
        font-family: var(--font-family-marcellus), sans-serif;
        color: var(--grey-color-80);
        text-decoration: none;
    }

    /* --------------------------- social media --------------------------- */
    .social, .application {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social__title, .application__title, .information__title {
        font-family: var(--font-family-marcellus), sans-serif;
        line-height: 1.938rem;
        font-size: 1.625rem;
        padding-bottom: 1.5rem;
        text-align: center;
    }

    .social__items, .application__items {
        display: flex;
    }

    .social__item__image, .application__image {
        padding: 0 0.5rem 2.5rem;
    }

    /* --------------------------- copyright --------------------------- */
    .copyright {
        padding-bottom: 4.125rem;
        border-top: solid 1px var(--grey-color-D9);

    }

    .copyright__elements {
        display: flex;
        justify-content: center;
    }

    .copyright__element {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 0.813rem;
        line-height: 1.313rem;
        padding: 2.938rem 1rem 0 0;
        color: var(--grey-color-80);

    }

    .copyright__author {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.375rem;
        color: var(--grey-color-80);
        text-align: center;
        padding: 1.5rem 0 2.938rem 0;
        border-bottom: solid 1px var(--grey-color-D9);
    }

}
