@media screen and (min-width: 1024px) {
    body {
        font-family: var(--font-family-lato), sans-serif;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hidden {
        display: none;
    }

    h2 {
        font-family: var(--font-family-marcellus), sans-serif;
        color: var(--h2-color-style);
        text-align: center;
    }

    .presentation__container {
        display: flex;
        flex-direction: row-reverse;
    }


    /*-------------Boutton-------------*/
    .buttons {
        font-family: var(--font-family-marcellus), sans-serif;
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 1.875rem;
        border: 1px solid var(--button-color);
        background-color: #fff;
        font-size: 1rem;
        color: var(--color-black);
        max-width: fit-content;
        margin: 0 0 1.5rem 3rem;
        transition: all 0.2s ease;
        cursor: pointer;
    }

    .buttons::after, .information::after {
        content: "";
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        border-right: 0.125rem solid currentColor;
        border-bottom: 0.125rem solid currentColor;
        transform: rotate(-45deg);
        margin-left: 0.5rem;
        color: var(--button-color);
    }

    .information::after {
        content: "";
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        border-right: 0.125rem solid currentColor;
        border-bottom: 0.125rem solid currentColor;
        transform: rotate(-45deg);
        margin-left: 0.5rem;
        color: var(--color-black);
    }


    /*-------------En tête-------------*/
    .header__image {
        max-width: 100%;
        height: auto;
    }


    .svg-entete {
        position: absolute;
        inset: 0;
        z-index: 2;
    }

    .deux-div {
        position: relative;
        height: 100%;
    }

    .order1 {
        margin: 10px 26px 0;
    }

    /*-------------en tête button lien-------------*/
    section.links {
        margin: 1.5em 1.5em 4.125em;
        filter: drop-shadow(0em 1.875em 2.5em rgba(217, 217, 217, 0.25));
        position: absolute;
        bottom: -9rem;
        z-index: 2;
        display: flex;
    }

    .q {
        display: flex;
        justify-content: center;
    }

    div.q > img {
        padding-bottom: 16px;
    }

    main {
        padding-top: 300px;
    }

    h3.link-1, h3.link-2 {
        font-family: var(--font-family-lato), sans-serif;
        font-weight: 700;
        font-size: 0.6875em;
        line-height: 1em;
        color: var(--color-black);
        padding-bottom: 0.25em;
    }

    img.link-1, img.link-2 {
        background-color: #d9d9d9;
        width: 3.75em;
        height: 3.75em;
        border-radius: 1.875em;
        margin: 0.5em 0 1.125em 0.75em;
    }

    div.link-1, div.link-2 {
        display: flex;
    }

    p.link-1, p.link-2 {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.1875em;
        line-height: 1.25em;
        color: #DC9D23;
    }

    .link-1 {
        background-color: #ffffff;
        border-radius: 16px 16px 0 0;
    }

    .link-2 {
        background-color: #ffffff;
    }

    .link-3 {
        background-color: #262626;
        border-radius: 0 0 16px 16px;
    }

    h3.link-3 {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 24px;
        line-height: 32px;
        color: var(--h2-color-style);
        padding: 15px 76px 0 76px;
    }

    p.link-3 {
        font-family: var(--font-family-lato), sans-serif;
        font-weight: 700;
        line-height: 23px;
        font-size: 17px;
        color: var(--white-color-style);
        text-align: center;
    }

    div.link-3 {
        padding: 0;
    }

    /*-------------Section titre -------------*/
    .section__title {
        max-width: 70%;
        margin: 0 auto 12.5rem auto;
        padding: 2.188rem;
        border: 1px #d9d9d9 solid;
        border-radius: 1.5rem;
    }

    .section__title-title {
        font-size: 3.188rem;
        line-height: 3.563rem;
    }

    .section__title-p {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.563rem;
        line-height: 1.875em;
        padding-top: 1rem;
        text-align: center;
    }

    /*------------- Ce qu’il aime faire de son temps libre ? et Depuis combien de temps es ce que je le connais ? -------------*/
    .presentation__container {
        padding: 0.5rem 0.5rem 0 0.5rem;
        border-radius: 1.5rem;
        border: 1px #d9d9d9 solid;
        max-width: 80%;
        margin: 0 auto 3.313rem auto;
    }

    .presentation__title {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 2.5rem;
        line-height: 2.725rem;
        padding: 4.625rem 0 1.375rem 3.125rem;
    }

    .presentation__text {
        font-family: var(--font-family-lato), sans-serif;
        font-size: 1.125rem;
        line-height: 1.744rem;
        padding: 0 5.625rem 1.25rem 3.125rem;
    }

    .presentation__image {
        border-radius: 1.25rem;
        aspect-ratio: 1/1;
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    /*-------------div carousel-------------*/
    #carousel {
        padding: 0.5rem 0.5rem 0 0.5rem;
        max-width: 80%;
        margin: 0 auto 3.313rem auto;
        border: 0.0625rem solid #d9d9d9;
        border-radius: 1.5rem;
    }

    /*-------------div carousel ma version-------------*/
    #carousel_maVersion {
        padding: 0.5rem 0.5rem 0 0.5rem;
        max-width: 80%;
        margin: 0 auto 3.313rem auto;
        border: 0.0625rem solid #d9d9d9;
        border-radius: 1.5rem;
    }


    /*------------- Comment tout à commencer et ce qu’il ma apporter dans la vie ? -------------*/
    .presentation__content {
        margin: 0 10.813rem 9.563rem;
    }

    /* --------------------------- Quelque photos --------------------------- */
    .gallery {
        max-width: 75rem;
        margin: 0 auto;
    }

    .gallery__title {
        text-align: center;
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 2.5rem;
        line-height: 2.725rem;
        padding: 4.625rem 0 2.375rem 3.125rem;
    }

    .gallery__items {
        display: flex;
        gap: 2rem;
        padding: 1rem 5.625rem;
    }

    .gallery__item {
        flex: 1;
    }

    .gallery__image {
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }


    section.someWords {
        margin: 0 316px;
        padding: 57px 173px 153px;
    }

    h3.theWords {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -0.70px;
        color: var(--h2-color-style);
        text-align: center;
        padding: 0 0 11px 0;
    }

    h3.theWordsh3 {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 36px;
        color: var(--color-black);
        padding: 24px;
        line-height: 39px;
        text-align: center;
    }

    h3.border-l {
        padding-left: 23px;
    }

    h3.border-r {
        padding-right: 23px;
    }

    h3.someWords {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 36px;
        line-height: 39px;
        color: var(--color-black);
        padding: 24px;
    }

    p.theWords {
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        padding: 0 14px 24px 14px;
        margin: 0 10px 10px 10px;
    }

    .border {
        border-right: solid 1px #d9d9d9;
    }

    div.display-1 {
        padding-right: 88px;
    }

    .tropLoin {
        margin: 0 279px;
    }

    div.display-1, div.display-2, div.display {
        display: flex;
        justify-content: center;
    }

    /*-------------Section Quelque photo-------------*/
    img.someImg {
        max-height: 333px;
        border-radius: 16px;
        height: auto;
    }

    div.someImg {
        display: flex;
        overflow: auto;
    }


    /* --------------------------- Footer --------------------------- */
    footer {
        background-color: #f2f2f2;
    }

    .profile {
        display: flex;
        justify-content: center;
    }

    .profile__content {
        padding: 0 3.875rem;
        margin: 10.375rem 0 3.75rem 0;
    }

    .profile__title {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.563rem;
        line-height: 1.875rem;
    }

    .profile__item {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 0.75rem;
        line-height: 1.25rem;
    }

    .display-1-1, .display-2-2 {
        display: flex;
        justify-content: center;
    }

    .display-1-1 p, .display-2-2 p {
        font-family: var(--font-family-lato), sans-serif;
        font-size: 10px;
        line-height: 17px;
        padding: 48px 94px 0 0;
        color: #777777;
    }

    .display-1-1 a, .display-2-2 a {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 18px;
        line-height: 21px;
        color: #333333;
        text-decoration: none;
        pointer-events: none
    }

    .display-2-2 {
        padding-bottom: 40px;
        border-bottom: solid 0.0625em #d9d9d9;
    }


    li.adresse, li.phone, li.email {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.125em;
        line-height: 1.5625em;
        text-align: center;
        color: #808080;
        text-decoration: none;

    }

    li a.information {
        font-family: var(--font-family-marcellus), sans-serif;
        text-decoration: none;
        max-height: 1.5em;
        font-size: 1.25em;
        line-height: 1.5em;
        color: var(--color-black);
        padding: 1.5em 0 1.5em;
        margin: 0 1.0625em;
        display: block;
        border-bottom: solid 0.0625em #d9d9d9;

    }

    .h3-rencontre {
        font-style: normal;
        font-size: 36px;
        line-height: 40px;

    }

    .p-rencontre-1 {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 20px;
        line-height: 24px;
        padding: 0 24px;
    }

    .p-rencontre-2 {
        font-size: 16px;
        line-height: 24px;
    }


    .authorDroit {
        padding: 24px 24px 71px;
    }


    .dlApplication {
        display: flex;
        justify-content: center;
    }

    .appStore, .googlePlay {
        padding: 8px;
    }

    .address li {
        text-align: center;
        color: #808080;
    }

    .information-title {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.25em;
        line-height: 1.5em;
        text-align: center;
        padding-top: 48px;
        padding-bottom: 1.5em;
        color: var(--color-black)
    }

    .allContent {
        display: flex;
        justify-content: center;
        column-gap: 100px;
        padding: 69px 0;
    }

    h3.application {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 26px;
        line-height: 31px;
        text-align: center;
    }



    ul.address:last-child {
        padding-bottom: 24px;
    }
/* --------------------------- copyright --------------------------- */
    .copyright {
        padding-bottom: 4.125rem;
        border-top: solid 1px var(--grey-color-D9);

    }

    .copyright__elements{
        display: flex;
        justify-content: center;
    }

    .copyright__element {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 0.813rem;
        line-height: 1.313rem;
        padding: 2.938rem 1rem 0 0;
        color: var(--grey-color-80);

    }

    .copyright__author {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.375rem;
        color: var(--grey-color-80);
        text-align: center;
        padding: 1.5rem 0 2.938rem 0;
        border-bottom: solid 1px var(--grey-color-D9);
    }
}
