@media screen and (max-width: 375px) {
    body {
        font-family: var(--font-family-lato);
    }

    h2 {
        font-family: var(--font-family-marcellus);
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -0.70px;
        color: var(--h2-color-style);
        text-align: center;
    }

    h3 {
        font-family: var(--font-family-marcellus);
        font-size: 24px;
        line-height: 26px;
        color: #333333;
        padding: 24px;
    }

    button {
        font-family: var(--font-family-marcellus);
        border-radius: 30px;
        border: 1px #DC9D23 solid;
        background-color: white;
        padding: 7px 0 8px 14px;
        margin: 0 130px 24px 32px;
        font-size: 16px;
        color: #333333;
        display: flex;

    }

    /*-------------Boutton-------------*/
    svg.svgButton {
        margin-right: 12px;
        margin-left: 5px;
    }

    p {
        color: var(--p-color-style);
        text-align: left;
        font-family: var(--font-family-lato);
        padding: 0 24px 16px 24px;
    }



    /*-------------En tête-------------*/
    .img-1, .img-2, .img-3 {
        height: auto;
        max-height: 448px;
        width: 100%;
    }

    .slides {
        height: 70vh;
        overflow: hidden;
        position: relative;
    }

    .slide {
        position: absolute;
        height: 100%;
        opacity: 0;
        inset: 0;
        animation: slide-show 12s infinite;
    }

    .slide-2 {
        animation-delay: 4s;
    }

    .slide-3 {
        animation-delay: 8s;
    }

    .slide img {
        height: 100%;
        object-fit: cover;
    }

    @keyframes slide-show {
        0% {
            opacity: 0;
        }
        10%, 20%, 30% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }



    /*-------------Section Titre-------------*/
    section.titre p {
        font-family: var(--font-family-marcellus);
        font-size: 20px;
        line-height: 24px;
        padding: 0 24px 24px 24px;
    }

    section.titre {
        padding: 24px 24px 0 24px;
        margin: 20.5px;
        border: 1px #d9d9d9 solid;
        border-radius: 24px;
        max-width: inherit;
    }

    /*-------------Section Presentation 1 et 2-------------*/
    section.presentation {
        padding: 8px 8px 0 8px;
        margin: 20.5px;
        border: 1px #d9d9d9 solid;
        border-radius: 24px;
        max-width: inherit;
    }

    section.presentation img {
        max-height: 319px;
        border-radius: 16px;
        height: auto;
    }

    img.tablette {
        display: none;
    }

    section.presentation p {
        font-size: 16px;
        line-height: 24px;
    }

    /*-------------div carrousel-------------*/
    #carrousel {
        padding: 8px 8px 0 8px;
        margin: 20.5px;
        border: 1px #d9d9d9 solid;
        border-radius: 24px;
        max-width: inherit;
    }

    #carrousel p {
        font-size: 16px;
        line-height: 24px;
    }

    button.carrousel {
        font-family: var(--font-family-marcellus);
        border-radius: 30px;
        border: 1px #DC9D23 solid;
        background-color: white;
        padding: 7px 31px 8px 16px;
        margin: 0 127px 24px 32px;
        font-size: 16px;
        color: #333333;

    }

    /*-------------div carrousel ma version-------------*/
    #carrousel_maVersion {
        padding: 8px 8px 0 8px;
        margin: 20.5px;
        border: 1px #d9d9d9 solid;
        border-radius: 24px;
        max-width: inherit;
    }

    #carrousel_maVersion p {
        font-size: 16px;
        line-height: 24px;
        padding: 0 24px 16px 24px;
    }

    button.carrousel {
        font-family: var(--font-family-marcellus);
        border-radius: 30px;
        border: 1px #DC9D23 solid;
        background-color: white;
        padding: 7px 31px 8px 16px;
        margin: 0 127px 24px 32px;
        font-size: 16px;
        color: #333333;
    }

    /*-------------section comment ça à commencer-------------*/
    p.p14 {
        font-size: 14px;
        line-height: 21px;
        padding: 0 24px 16px 24px;
    }

    h2.someWords {
        font-family: var(--font-family-marcellus);
        font-size: 36px;
        color: #333333;
        padding: 24px;
    }

    h3.theWords {
        font-family: var(--font-family-marcellus);
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -0.70px;
        color: var(--h2-color-style);
        text-align: center;
        padding: 0 0 11px 0;
    }

    h3.theWordsh3 {
        font-family: var(--font-family-marcellus);
        font-size: 36px;
        color: #333333;
        padding: 24px;
        line-height: 39px;
        text-align: center;
    }

    h3.someWords {
        font-family: var(--font-family-marcellus);
        font-size: 36px;
        line-height: 39px;
        color: #333333;
        padding: 24px;
    }

    p.theWords {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        padding: 0 14px 24px 14px;
        border-bottom: solid 1px #d9d9d9;
        margin: 0 10px 10px 10px;
    }

    p.lastP {
        border-bottom: none;
    }

    /*-------------Section Quelque photo-------------*/
    img.someImg {
        max-height: 333px;
        border-radius: 16px;
        height: auto;
    }

    div.someImg {
        display: flex;
        overflow: auto;
    }


    footer {
        background-color: #d9d9d9;
    }

    .socialMedia {
        display: flex;
    }

    li.adresse, li.phone, li.email {
        font-family: var(--font-family-marcellus);
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #808080;
        text-decoration: none;

    }

}