@import "font.css";
@import "portable.css";
@import "tablette.css";
@import "ordinateur.css";
@import "carousel.css";
@import "varriable.css";

.sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.buttons::after {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-right: 0.125rem solid currentColor;
    border-bottom: 0.125rem solid currentColor;
    transform: rotate(-45deg);
    margin-left: 0.5rem;
    color: var(--button-color);
}




