@import "settings.css";

:root {
    /*Color font*/
    --h2-color-style: #DC9D23;
    --p-color-style: #333333;

    /*Font*/
    --font-family-lato: "Lato", Helvetica, Arial, Roboto, "Open Sans", sans-serif;
    --font-family-marcellus: "Marcellus", Helvetica, Arial, Roboto, "Open Sans", sans-serif;
}




