/*Tablette*/
@media screen and (max-width: 1023px) and (min-width: 600px) {
    body {
        font-family: var(--font-family-lato), sans-serif;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    h2 {
        font-family: var(--font-family-marcellus);
        color: var(--h2-color-style);
        text-align: center;
    }

    h3 {
        font-family: var(--font-family-marcellus), sans-serif;
        color: var(--color-black);
    }


    /*
        /*-------------Boutton-------------*/
    .buttons {
        font-family: var(--font-family-marcellus), sans-serif;
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 1.875rem;
        border: 1px solid var(--button-color);
        background-color: #fff;
        font-size: 16px;
        color: var(--color-black);
        max-width: fit-content;
        margin: 0 0 0.625rem 2rem;
        transition: all 0.2s ease;
        cursor: pointer;
    }

    .buttons::after {
        content: "";
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        border-right: 0.125rem solid currentColor;
        border-bottom: 0.125rem solid currentColor;
        transform: rotate(-45deg);
        margin-left: 0.5rem;
        color: var(--button-color);
    }


    /*-------------En tête-------------*/
    .header__image {
        max-width: 100%;
        height: auto;
    }

    .svg-entete {
        position: absolute;
        inset: 0;
        z-index: 2;
    }

    .deux-div {
        position: relative;
        height: 100%;
    }

    .order1 {
        margin: 10px 26px 0;
    }

    /*------------- Section title -------------*/
    .section__title {
        max-width: 80%;
        margin: 0 auto 12.5rem auto;
        padding: 2.188rem;
        border: 1px #d9d9d9 solid;
        border-radius: 1.5rem;
    }

    .section__title-title {
        font-size: 2.688rem;
        line-height: 3rem;
    }

    .section__title-p {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.375rem;
        line-height: 1.688em;
        text-align: center;
    }

    /*-------------Ce qu’il aime faire de son temps libre ? et Depuis combien de temps es ce que je le connais ? -------------*/
    .presentation__container {
        padding: 0.5rem 0.5rem 0 0.5rem;
        border-radius: 1.5rem;
        border: 1px #d9d9d9 solid;
        max-width: 70%;
        margin: 0 auto 3.313rem auto;
    }

    .presentation__title {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.938rem;
        line-height: 2.125rem;
        padding: 2.938rem 0 1.75rem 2.063rem;
    }

    .presentation__text {
        font-family: var(--font-family-lato), sans-serif;
        font-size: 1.063rem;
        line-height: 1.563rem;
        padding: 0 2.125rem 1.625rem 2.063rem;

    }

    .presentation__image {
        max-width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 1.25rem;
        height: auto;
    }

    /*-------------div carousel-------------*/
    #carousel {
        max-width: 70%;
        margin: 0 auto 3.313rem auto;
        padding: 0.5rem 0.5rem 0 0.5rem;
        border: 0.0625rem solid #d9d9d9;
        border-radius: 1.5rem;
    }

    /*-------------div carousel ma version-------------*/
    #carousel_maVersion {
        max-width: 70%;
        margin: 0 auto 3.313rem auto;
        padding: 0.5rem 0.5rem 0 0.5rem;
        border: 0.0625rem solid #d9d9d9;
        border-radius: 1.5rem;
    }

    /*------------- Comment tout à commencer et ce qu’il ma apporter dans la vie ? -------------*/
    .presentation__content {
        margin: 0 4.563rem 3.313rem;
    }

    /* --------------------------- Footer --------------------------- */
    footer {
        background-color: #f2f2f2;
    }

    .profile {
        display: flex;
        justify-content: center;
    }

    .profile__content {
        padding: 0 0.875rem;
        margin: 10.375rem 0 3.75rem 0;
    }

    .profile__title {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.563rem;
        line-height: 1.875rem;
    }

    .profile__item {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 0.75rem;
        line-height: 1.25rem;
    }

    /* --------------------------- Quelque photos --------------------------- */
    .gallery {
        max-width: 50rem;
        margin: 0 auto;
    }

    .gallery__title {
        text-align: center;
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.938rem;
        line-height: 2.125rem;
        padding: 2.938rem 0 1.75rem 2.063rem;
    }

    .gallery__items {
        display: flex;
        gap: 2rem;
        padding: 1rem 5.625rem;
    }

    .gallery__item {
        flex: 1;

    }

    .gallery__image {
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }
    /* --------------------------- social media --------------------------- */
    .social, .application{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social__title, .application__title{
        font-family: var(--font-family-marcellus), sans-serif;
        line-height: 1.625rem;
        font-size: 1.375rem;
        padding-bottom:1.5rem;
    }
    .social__items, .application__items {
        display: flex;
    }

    .social__item__image, .application__image {
        padding: 0 0.5rem 2.5rem;
    }

    /* --------------------------- copyright --------------------------- */
    .copyright {
        padding-bottom: 4.125rem;
        border-top: solid 1px var(--grey-color-D9);
    }

    .copyright__elements {
        display: flex;
        justify-content: center;
    }

    .copyright__element {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 0.813rem;
        line-height: 1.938rem;
        padding: 2.938rem 1rem 0 0;
        color: var(--grey-color-80);

    }

    .copyright__author {
        font-family: var(--font-family-marcellus), sans-serif;
        font-size: 1.563rem;
        color: var(--grey-color-80);
        text-align: center;
        padding: 1.5rem 0 2.938rem 0;
        border-bottom: solid 1px var(--grey-color-D9);
    }
}



